@model URLShorten.Models.URLShort

@{
    ViewData["Title"] = "Index";
}
<div class="card">
    <div class="card-header">
        <h4>URLShort</h4>
    </div>
    <form asp-action="Index" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body">
            <label asp-for="FullURL" class="control-label"></label>
            <input asp-for="FullURL" class="form-control" />
            <span asp-validation-for="FullURL" class="text-danger"></span>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mb-3" />
            </div>
        </div>
    </form>
@if (Model != null)
{
    <div class="card-footer">
            <a href="@Model.FullURL" class="btn btn-primary mb-3">Follow this link</a>
        <p>@Model.ShortURL</p>
    </div>
}
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
