@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <h1 class="display-4">Welcome on URL shorter service</h1>
        <h5>Make your url shorter</h5>
        <a asp-area="" asp-controller="URLShorts" asp-action="Index">There</a>
</div>
